bin/
.vs/
Security/.venv/
Security/.idea/
Security/.qodo/
Security/test.db/
Security/.vs/
Security/.env
Security/test.py
obj/
Assets/
Security/__pycache__/
DataBase/*.json/
DataBase/*.db/
*.json
python-3.12.0-embed-amd64/
*.idea
.vscode